.treeview div.hitarea {
  height:16px;
  width:16px;
  margin-left:-16px;
  display: inline-block;
  cursor:pointer;
  font-size: 7pt;
}
.treeview li {
  list-style: none;
}
.treeview .nodeName {
  cursor: pointer;
}

/*.treeview .chrome {

}
.treeview .tagBracket {
  font-weight:250;
}
.treeview .tagBracket .chrome {
  color: purple;
}
.treeview .tagName {
  color: purple;
  font-weight: bold;
  font-family: serif;
}
.treeview .attrName .ff {
  font-weight: bold;
}
.treeview .attrName .chrome {
  color: rgb(153, 69, 0);
}
.treeview .attrValue .shared {
  color: blue;
}
.treeview .attrEquals .ff{
  color: blue;
}
.treeview .attrQuotes .ff{
  color: blue;
}*/

/* FireFox XML Styles*/
.treeview .ff {
  font-family: serif;
}
.treeview span.tagBracket .ff{
  font-weight:250;
}
.treeview span.tagName.ff{
  color: purple;
  font-weight: bold;
}
.treeview span.attrName.ff {
  font-weight: bold;
}
.treeview span.attrValue.ff {
  color: blue;
}
.treeview span.attrEquals.ff{
  color: blue;
}
.treeview span.attrQuotes.ff{
  color: blue;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
